<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Page</title>

    <link rel="shortcut icon" href="../asset/images/fav.jpg">
    <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="../asset/css/style.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="no-pdding login-box">
            <div class="row no-margin w-100 bklmj">
                <div class="col-lg-6 col-md-6 log-det">
                    <h2>Login</h2>
                                        <form action="/doctors/login" method="POST"> 

                        <div class="text-box-cont">
                            <div class="input-group mb-3">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                            <div class="right-bkij mb-3">
                                <button id="loginButton" class="btn btn-round">Login</button>
                                
                            </div>
                            <br>
                            <div class="row linkoi"></div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 box-de">
                    <div class="ditk-inf">
                        <h2 class="w-100">Welcome Back Doctor</h2>
                        <p>Simply Login to your account by <br> clicking the login Button</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="asset/js/jquery-3.2.1.min.js"></script>
    <script src="asset/js/popper.min.js"></script>
    <script src="asset/js/bootstrap.min.js"></script>
    <script src="asset/js/script.js"></script>
    <script src="../javascripts/script.js"></script>

</body>

</html>
